**/__pycache__/*
**/*.egg-info/*
**/*.swp
**/*.db
**/*.json
!/pyrightconfig.json
!/pyrightconfig.*.json
**/*.key
**/*.pub
**/*.orig
**/*.rej
**/*.patch
**/*.swo
.coverage*
site
.idea
.aleash*
src/provablyfine/bin/
build/
src/provablyfine/licenses/
.cache/
tests/tmp*.t
src/nss/libnss_provablyfine/target/
mutants/**
tmp*
