**/__pycache__/*
**/*.egg-info/*
**/*.swp
**/*.db
**/*.json
**/*.key
**/*.pub
**/*.orig
**/*.rej
**/*.patch
**/*.swo
.coverage*
uv.lock
site
.idea
.aleash*
src/provablyfine/bin/
src/provablyfine/licenses/
.cache/
