[run]
parallel = True
patch = subprocess, _exit

[paths]
source =
    ./src/pf
    /usr/local/lib/python3.14/site-packages/pf
#[report]
#exclude_lines =
#    pragma: no cover
#    if __name__ == .__main__.:
