Initialize server and login
  $ bash $TESTDIR/fixture.sh
  .* (re)
  $ ROOT_ID=$(pfa -c config.json identity list -n root -q)
  $ source $TESTDIR/access-control-identity-fixture.sh
  .* (re)

{% for grant in [
  "--add-tag-all",
  "--add-tag id=person",
  "--name user2 --add-tag-all",
  "--name user2 --add-tag id=person",
]
%}
Check that grant "{{grant}}" is actually enforcing access control
  $ pfa -c config.json grant identity {{grant}} | pfa -c config.json role grant -i $ROLE_ID --add
  $ pfa -c user1.json identity tag -i $USER2_ID -a $PERSON_ID
  $ pfa -c config.json role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | pfa -c config.json role grant -i $ROLE_ID --del
  $ pfa -c user1.json identity tag -i $USER2_ID -a $PERSON_ID
  Not allowed to update tag
  [2]
  $ pfa -c config.json identity tag -i $USER2_ID -d $PERSON_ID
{% endfor %}

{% for grant in [
  "--del-tag-all",
  "--del-tag id=person",
  "--name user2 --del-tag-all",
  "--name user2 --del-tag id=person",
]
%}
Check that grant "{{grant}}" is actually enforcing access control
  $ pfa -c config.json identity tag -i $USER2_ID -a $PERSON_ID
  $ pfa -c user1.json identity tag -i $USER2_ID -d $PERSON_ID
  Not allowed to update tag
  [2]
  $ pfa -c config.json grant identity {{grant}} | pfa -c config.json role grant -i $ROLE_ID --add
  $ pfa -c user1.json identity tag -i $USER2_ID -d $PERSON_ID
  $ pfa -c config.json role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | pfa -c config.json role grant -i $ROLE_ID --del
{% endfor %}
