Initialize server and login
  $ bash $TESTDIR/fixture.sh
  .* (re)
  $ ROOT_ID=$(pfa -c config.json identity list -n root -q)
  $ source $TESTDIR/access-control-identity-fixture.sh
  .* (re)

{% for grant in [
  "--update name --name user2",
  "--update-all --name user2",
  "--update name",
  "--update-all",
]
%}
Check that grant "{{grant}}" is actually enforcing access control
  $ pfa -c config.json grant identity {{grant}} | pfa -c config.json role grant -i $ROLE_ID --add
  $ pfa -c user1.json identity update -i $USER2_ID -n another
  $ pfa -c user1.json identity update -i $USER2_ID -n user2
  $ pfa -c config.json role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | pfa -c config.json role grant -i $ROLE_ID --del
  $ pfa -c user1.json identity update -i $USER2_ID -n another
  Not allowed to update identity field
  [2]
{% endfor %}
