Initialize server and login
  $ bash $TESTDIR/fixture.sh
  .* (re)
  $ ROOT_ID=$(pf admin identity list -n root -q)
  $ source $TESTDIR/access-control-identity-fixture.sh
  .* (re)

{% for grant in [
  "--delete",
  "--delete --tag id=person",
  "--delete --boundary boundary",
  "--delete --tag id=person --boundary boundary",
]
%}
Check that grant "{{grant}}" is actually enforcing access control
  $ pf admin identity create -n user4 -b boundary -t $PERSON_ID
  $ USER4_ID=$(pf admin identity list -n user4 -q)
  $ pf -c user1.json admin identity delete -i $USER4_ID
  Unable to delete identity. Not allowed to delete identity
  [2]
  $ pf admin grant identity {{grant}} | pf admin role grant -i $ROLE_ID --add
  $ pf -c user1.json admin identity delete -i $USER4_ID
  $ pf admin role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | pf admin role grant -i $ROLE_ID --del
{% endfor %}

{% for grant in [
  "--delete --name user4",
]
%}
Check that grant "{{grant}}" is actually enforcing access control
and becomes invalid after the identity is deleted
  $ pf admin identity create -n user4 -b boundary -t $PERSON_ID
  $ USER4_ID=$(pf admin identity list -n user4 -q)
  $ pf -c user1.json admin identity delete -i $USER4_ID
  Unable to delete identity. Not allowed to delete identity
  [2]
  $ pf admin grant identity {{grant}} | pf admin role grant -i $ROLE_ID --add
  $ pf -c user1.json admin identity delete -i $USER4_ID
  $ pf admin role read -i $ROLE_ID
  id           2
  name         role
  description
  member       user1
  grant        type:       invalid
               filter:     !
               permission: !
  $ pf admin role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | pf admin role grant -i $ROLE_ID --del
{% endfor %}


