Initialize server and login
  $ bash $TESTDIR/fixture.sh

Create tag
  $ idbctl admin tag create -n id -v person
  $ idbctl admin tag create -n id -v device
  $ PERSON_ID=$(idbctl admin tag list -n id -v person -q)
  $ DEVICE_ID=$(idbctl admin tag list -n id -v device -q)

Create role
  $ idbctl admin role create -n role
  $ ROLE_ID=$(idbctl admin role list -n role -q)

Create identity
  $ idbctl admin identity create -n user 
  $ USER_ID=$(idbctl admin identity list -n user -q)
  $ ROOT_ID=$(idbctl admin identity list -n root -q)
  $ INVITATION=$(idbctl admin identity invite -i $USER_ID --manual)

Add identity to role
  $ idbctl admin role member -i $ROLE_ID -a user

New user accepts invitation and logs in
  $ DIRECTORY_URL=http://127.0.0.1:$SERVER_PORT/idb/directory
  $ idbctl -c user.json config --directory $DIRECTORY_URL
  $ ssh-keygen -t ed25519 -f user -N "" > /dev/null
  $ idbctl -c user.json accept --invitation $INVITATION --key user
  $ ssh-keygen -t ed25519 -f user-session -N "" > /dev/null
  $ idbctl -c user.json login --session-key user-session

No identity permission. Try to use them.
  $ idbctl -c user.json admin identity list
  $ idbctl -c user.json admin identity read -i 1
  No identity found
  [2]
  $ idbctl -c user.json admin identity create -n hello
  Unable to create identity. Not allowed to create identity
  [2]
  $ idbctl -c user.json admin identity delete -i $ROOT_ID
  Unable to delete identity. Not allowed to delete identity
  [2]
  $ idbctl -c user.json admin identity tag -i $ROOT_ID -a $PERSON_ID
  No identity found
  [2]
  $ idbctl -c user.json admin identity tag -i $ROOT_ID -d $PERSON_ID
  No identity found
  [2]
  $ idbctl -c user.json admin identity update -i $ROOT_ID -n user1 
  Unable to update identity. Not allowed to update identity field.
  [2]

{% set identity_update_permissions = [
  "identity:update:name/root:field/name",
  "identity:update:name/root:*",
  "identity:update:*:field/name",
  "identity:update:*:*",
  "identity:*:name/root:*",
  "identity:*:*:*",
]
%}
{% for permission in identity_update_permissions %}
Check that permission controls update access to the identity: "{{permission}}"
  $ idbctl admin role permission -i $ROLE_ID -a {{permission}}
  $ idbctl -c user.json admin identity update -i $ROOT_ID -n user1 
  $ idbctl -c user.json admin identity update -i $ROOT_ID -n root
  $ idbctl admin role permission -i $ROLE_ID -d {{permission}}
  $ idbctl -c user.json admin identity update -i $ROOT_ID -n user1 
  Unable to update identity. Not allowed to update identity field.
  [2]
{% endfor %}

{% for permission in [
  "identity:*:name/root:field/name",
  "identity:*:*:field/name",
] %}
Check that permission is invalid: "{{permission}}"
  $ idbctl admin role permission -i $ROLE_ID -a {{permission}}
  Unable to update role. Request validation error.
  [2]
{% endfor %}
