Initialize server and login
  $ bash $TESTDIR/fixture.sh
  .* (re)
  $ ROOT_ID=$(pf admin identity list -n root -q)

Create role
  $ pf admin role create -n role
  $ ROLE_ID=$(pf admin role list -n role -q)

Create identity user1
  $ pf admin identity create -n user1
  $ USER1_ID=$(pf admin identity list -n user1 -q)
  $ INVITATION=$(pf admin identity invite -i $USER1_ID --manual)

Add identity to role
  $ pf admin role member -i $ROLE_ID -a user1

New user accepts invitation and logs in
  $ DIRECTORY_URL=http://127.0.0.1:$API_PORT/pf/directory
  $ pf -c user1.json config --directory $DIRECTORY_URL
  $ ssh-keygen -t ed25519 -f user1 -N "" > /dev/null
  $ pf -c user1.json accept --invitation=$INVITATION --key user1
  $ ssh-keygen -t ed25519 -f user1-session -N "" > /dev/null
  $ pf -c user1.json login --session-key user1-session

Create a tag for testing
  $ pf admin tag create -n env -v dev

{% for grant in [
  "--read",
  "--read --name-value env=dev",
]
%}
Check that permission "{{grant}}" is actually enforcing access control
  $ pf -c user1.json admin tag list -q
  $ pf admin grant tag {{grant}} | pf admin role grant -i $ROLE_ID --add
  $ pf -c user1.json admin tag list -q
  1
  $ pf admin role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | pf admin role grant -i $ROLE_ID --del
{% endfor %}

{% for grant in [
  "--create",
]
%}
Check that permission "{{grant}}" is actually enforcing access control
  $ pf -c user1.json admin tag create -n env -v prod
  Unable to create tag. Not allowed to create tag
  [2]
  $ pf admin grant tag {{grant}} | pf admin role grant -i $ROLE_ID --add
  $ pf -c user1.json admin tag create -n env -v prod
  $ pf admin role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | pf admin role grant -i $ROLE_ID --del
  $ TAG_ID=$(pf admin tag list -n env -v prod -q)
  $ pf admin tag delete -i $TAG_ID
{% endfor %}

{% for grant in [
  "--delete",
]
%}
Check that permission "{{grant}}" is actually enforcing access control
  $ pf admin tag create -n env -v prod
  $ TAG_ID=$(pf admin tag list -n env -v prod -q)
  $ pf -c user1.json admin tag delete -i $TAG_ID
  Unable to delete tag. Not allowed to delete tag
  [2]
  $ pf admin grant tag {{grant}} | pf admin role grant -i $ROLE_ID --add
  $ pf -c user1.json admin tag delete -i $TAG_ID
  $ pf admin role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | pf admin role grant -i $ROLE_ID --del
{% endfor %}

{% for grant in [
  "--delete --name-value env=prod"
]
%}
Check that permission "{{grant}}" is actually enforcing access control
  $ pf admin tag create -n env -v prod
  $ TAG_ID=$(pf admin tag list -n env -v prod -q)
  $ pf -c user1.json admin tag delete -i $TAG_ID
  Unable to delete tag. Not allowed to delete tag
  [2]
  $ pf admin grant tag {{grant}} | pf admin role grant -i $ROLE_ID --add
  $ pf -c user1.json admin tag delete -i $TAG_ID
  $ pf admin role read -i $ROLE_ID
  id           2
  name         role
  description
  member       user1
  grant        type:       invalid
               filter:     !
               permission: !
  $ pf admin role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | pf admin role grant -i $ROLE_ID --del
{% endfor %}
