Initialize server and login
  $ bash $TESTDIR/fixture.sh
  .* (re)
  $ ROOT_ID=$(pfa identity list -n root -q)
  $ source $TESTDIR/access-control-identity-fixture.sh
  .* (re)

{% for grant, expected in [
  ("--read", (1,2,3)),
  ("--read --name user2", (3,)),
]
%}
Check that grant "{{grant}}" is actually enforcing access control
  $ pfa grant identity {{grant}} | pfa role grant -i $ROLE_ID --add
  $ pfa -c user1.json identity list -q
  {{ expected | join('\n  ') }}
  $ pfa role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | pfa role grant -i $ROLE_ID --del
  $ pfa -c user1.json identity list
{% endfor %}
