Initialize server and login
  $ echo $TESTDIR
  $ ls $TESTDIR
  $ echo $PWD
  $ bash $TESTDIR/fixture.sh
  .* (re)
  $ ROOT_ID=$(pfa -c config.json identity list -n root -q)
  $ source $TESTDIR/access-control-identity-fixture.sh
  .* (re)

Create temporary user for tests below
  $ pfa -c config.json identity create -n user4 -b boundary -t $PERSON_ID
  $ USER4_ID=$(pfa -c config.json identity list -n user4 -q)

{% for grant in [
  "--invite manual",
  "--invite manual --name user4",
  "--invite manual --boundary boundary",
  "--invite manual --tag id=person",
  "--invite manual --tag id=person --boundary boundary",
]
%}
Check that permission "{{permission}}" is actually enforcing access control
  $ pfa -c user1.json identity invite -i $USER4_ID --manual
  Not allowed to invite identity
  [2]
  $ pfa -c config.json grant identity {{grant}} | pfa -c config.json role grant -i $ROLE_ID --add
  $ pfa -c user1.json identity invite -i $USER4_ID --manual
  https?://.+ (re)
  $ pfa -c config.json role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | pfa -c config.json role grant -i $ROLE_ID --del
{% endfor %}

