Initialize server and login
  $ bash $TESTDIR/fixture.sh
  .* (re)
  $ ROOT_ID=$(idbctl admin identity list -n root -q)
  $ source $TESTDIR/idb-access-control-identity-fixture.sh


{% for permission in [
  "identity:*:*:*",
  "identity:*:tag/id=person:*",
  "identity:*:boundary/boundary:*",
  "identity:*:boundary/boundary&tag/id=person:*",
  "identity:create:*:*",
  "identity:create:tag/id=person:*",
  "identity:create:boundary/boundary:*",
  "identity:create:boundary/boundary&tag/id=person:*",
]
%}
Check that permission "{{permission}}" is actually enforcing access control
  $ idbctl -c user1.json admin identity create -n user4 -b boundary -t $PERSON_ID
  Unable to create identity. Not allowed to create identity
  [2]
  $ idbctl admin role permission -i $ROLE_ID -a '{{permission}}'
  $ idbctl -c user1.json admin identity create -n user4 -b boundary -t id=person
  $ idbctl admin role permission -i $ROLE_ID -d '{{permission}}'
  $ USER4_ID=$(idbctl admin identity list -n user4 -q)
  $ idbctl admin identity delete -i $USER4_ID
{% endfor %}

