Initialize server and login
  $ bash $TESTDIR/fixture.sh
  $ ROOT_ID=$(idbctl admin identity list -n root -q)

Create Boundary
  $ idbctl admin boundary create -n boundary

Create tag
  $ idbctl admin tag create -n id -v person
  $ idbctl admin tag create -n id -v device
  $ PERSON_ID=$(idbctl admin tag list -n id -v person -q)
  $ DEVICE_ID=$(idbctl admin tag list -n id -v device -q)

Create role
  $ idbctl admin role create -n role
  $ ROLE_ID=$(idbctl admin role list -n role -q)

Create identity user1
  $ idbctl admin identity create -n user1
  $ USER1_ID=$(idbctl admin identity list -n user1 -q)
  $ INVITATION=$(idbctl admin identity invite -i $USER1_ID --manual)

Create identity user2
  $ idbctl admin identity create -n user2
  $ USER2_ID=$(idbctl admin identity list -n user2 -q)

Add identity to role
  $ idbctl admin role member -i $ROLE_ID -a user1

New user accepts invitation and logs in
DIRECTORY_URL=http://127.0.0.1:$API_PORT/idb/directory
  $ idbctl -c user1.json config --directory $DIRECTORY_URL
  $ ssh-keygen -t ed25519 -f user1 -N "" > /dev/null
  $ idbctl -c user1.json accept --invitation $INVITATION --key user1
  $ ssh-keygen -t ed25519 -f user1-session -N "" > /dev/null
  $ idbctl -c user1.json login --session-key user1-session


No identity permission. Try to use them.
  $ idbctl -c user1.json admin identity list
  $ idbctl -c user1.json admin identity read -i 1
  No identity found
  [2]
  $ idbctl -c user1.json admin identity create -n hello
  Unable to create identity. Not allowed to create identity
  [2]
  $ idbctl -c user1.json admin identity delete -i $ROOT_ID
  Unable to delete identity. Not allowed to delete identity
  [2]
  $ idbctl -c user1.json admin identity tag -i $ROOT_ID -a $PERSON_ID
  Unable to update identity. Not allowed to update tag.
  [2]
  $ idbctl -c user1.json admin identity tag -i $ROOT_ID -d $PERSON_ID
  Unable to update identity. Not allowed to update tag.
  [2]
  $ idbctl -c user1.json admin identity update -i $ROOT_ID -n root1
  Unable to update identity. Not allowed to update identity field.
  [2]

{% for permission in [
  "identity:update:name/user2:field/name",
  "identity:update:name/user2:*",
  "identity:update:*:field/name",
  "identity:update:*:*",
  "identity:*:name/user2:*",
  "identity:*:*:*",
]
%}
Check that permission "{{permission}}" is actually enforcing access control
  $ idbctl admin role permission -i $ROLE_ID -a {{permission}}
  $ idbctl -c user1.json admin identity update -i $USER2_ID -n another
  $ idbctl -c user1.json admin identity update -i $USER2_ID -n user2
  $ idbctl admin role permission -i $ROLE_ID -d {{permission}}
  $ idbctl -c user1.json admin identity update -i $USER2_ID -n another
  Unable to update identity. Not allowed to update identity field.
  [2]
{% endfor %}

{% for permission in [
  "identity:*:name/root:field/name",
  "identity:*:*:field/name",
] %}
Check that "{{permission}}" permission is invalid
  $ idbctl admin role permission -i $ROLE_ID -a {{permission}}
  Unable to update role. Request validation error.
  [2]
{% endfor %}

{% for permission, expected in [
  ("identity:*:*:*", (1,2,3)),
  ("identity:read:*:*", (1,2,3)),
  ("identity:read:name/user2:*", (3,)),
  ("identity:*:name/user2:*", (3,)),
]
%}
Check that permission "{{permission}}" is actually enforcing access control
  $ idbctl admin role permission -i $ROLE_ID -a '{{permission}}'
  $ idbctl -c user1.json admin identity list -q
  {{ expected | join('\n  ') }}
  $ idbctl admin role permission -i $ROLE_ID -d '{{permission}}'
  $ idbctl -c user1.json admin identity list
{% endfor %}

{% for permission in [
  "identity:*:*:*",
  "identity:*:name/user2:*",
  "identity:add-tag:*:*",
  "identity:add-tag:name/user2:*",
  "identity:add-tag:*:tag/id=person",
  "identity:add-tag:name/user2:tag/id=person",
]
%}
Check that permission "{{permission}}" is actually enforcing access control
  $ idbctl admin role permission -i $ROLE_ID -a '{{permission}}'
  $ idbctl -c user1.json admin identity tag -i $USER2_ID -a $PERSON_ID
  $ idbctl admin role permission -i $ROLE_ID -d '{{permission}}'
  $ idbctl -c user1.json admin identity tag -i $USER2_ID -a $PERSON_ID
  Unable to update identity. Not allowed to update tag.
  [2]
  $ idbctl admin identity tag -i $USER2_ID -d $PERSON_ID
{% endfor %}

{% for permission in [
  "identity:*:*:*",
  "identity:*:name/user2:*",
  "identity:del-tag:*:*",
  "identity:del-tag:name/user2:*",
  "identity:del-tag:*:tag/id=person",
  "identity:del-tag:name/user2:tag/id=person",
]
%}
Check that permission "{{permission}}" is actually enforcing access control
  $ idbctl admin identity tag -i $USER2_ID -a $PERSON_ID
  $ idbctl -c user1.json admin identity tag -i $USER2_ID -d $PERSON_ID
  Unable to update identity. Not allowed to update tag.
  [2]
  $ idbctl admin role permission -i $ROLE_ID -a '{{permission}}'
  $ idbctl -c user1.json admin identity tag -i $USER2_ID -d $PERSON_ID
  $ idbctl admin role permission -i $ROLE_ID -d '{{permission}}'
{% endfor %}

{% for permission in [
  "identity:*:*:*",
  "identity:*:tag/id=person:*",
  "identity:*:boundary/boundary:*",
  "identity:*:boundary/boundary&tag/id=person:*",
  "identity:create:*:*",
  "identity:create:tag/id=person:*",
  "identity:create:boundary/boundary:*",
  "identity:create:boundary/boundary&tag/id=person:*",
]
%}
Check that permission "{{permission}}" is actually enforcing access control
  $ idbctl -c user1.json admin identity create -n user4 -b boundary -t $PERSON_ID
  Unable to create identity. Not allowed to create identity
  [2]
  $ idbctl admin role permission -i $ROLE_ID -a '{{permission}}'
  $ idbctl -c user1.json admin identity create -n user4 -b boundary -t id=person
  $ idbctl admin role permission -i $ROLE_ID -d '{{permission}}'
  $ USER4_ID=$(idbctl admin identity list -n user4 -q)
  $ idbctl admin identity delete -i $USER4_ID
{% endfor %}

{% for permission in [
  "identity:*:*:*",
  "identity:*:tag/id=person:*",
  "identity:*:boundary/boundary:*",
  "identity:*:boundary/boundary&tag/id=person:*",
  "identity:delete:*:*",
  "identity:delete:tag/id=person:*",
  "identity:delete:boundary/boundary:*",
  "identity:delete:boundary/boundary&tag/id=person:*",
]
%}
Check that permission "{{permission}}" is actually enforcing access control
  $ idbctl admin identity create -n user4 -b boundary -t $PERSON_ID
  $ USER4_ID=$(idbctl admin identity list -n user4 -q)
  $ idbctl -c user1.json admin identity delete -i $USER4_ID
  Unable to delete identity. Not allowed to delete identity
  [2]
  $ idbctl admin role permission -i $ROLE_ID -a '{{permission}}'
  $ idbctl -c user1.json admin identity delete -i $USER4_ID
  $ idbctl admin role permission -i $ROLE_ID -d '{{permission}}'
{% endfor %}

{% for permission in [
  "identity:*:name/user4:*",
  "identity:delete:name/user4:*",
]
%}
Check that permission "{{permission}}" is actually enforcing access control
and becomes invalid after the identity is deleted
  $ idbctl admin identity create -n user4 -b boundary -t $PERSON_ID
  $ USER4_ID=$(idbctl admin identity list -n user4 -q)
  $ idbctl -c user1.json admin identity delete -i $USER4_ID
  Unable to delete identity. Not allowed to delete identity
  [2]
  $ idbctl admin role permission -i $ROLE_ID -a '{{permission}}'
  $ idbctl -c user1.json admin identity delete -i $USER4_ID
  $ idbctl admin role read -i $ROLE_ID
  id           2
  name         role
  description
  permission   invalid:invalid:*:*
  member       user1
  $ idbctl admin role permission -i $ROLE_ID -d invalid:invalid:*:*
{% endfor %}

Create temporary user for tests below
  $ idbctl admin identity create -n user4 -b boundary -t $PERSON_ID
  $ USER4_ID=$(idbctl admin identity list -n user4 -q)

{% for permission in [
  "identity:*:*:*",
  "identity:*:name/user4:*",
  "identity:*:tag/id=person:*",
  "identity:*:boundary/boundary:*",
  "identity:*:boundary/boundary&tag/id=person:*",
  "identity:invite:*:*",
  "identity:invite:name/user4:*",
  "identity:invite:tag/id=person:*",
  "identity:invite:boundary/boundary:*",
  "identity:invite:boundary/boundary&tag/id=person:*",
  "identity:invite:*:delivery/manual",
  "identity:invite:name/user4:delivery/manual",
  "identity:invite:tag/id=person:delivery/manual",
  "identity:invite:boundary/boundary:delivery/manual",
  "identity:invite:boundary/boundary&tag/id=person:delivery/manual",
]
%}
Check that permission "{{permission}}" is actually enforcing access control
  $ idbctl -c user1.json admin identity invite -i $USER4_ID --manual
  Unable to invite identity. Not allowed to invite identity
  [2]
  $ idbctl admin role permission -i $ROLE_ID -a '{{permission}}'
  $ idbctl -c user1.json admin identity invite -i $USER4_ID --manual
  [A-Za-z0-9_-]+ (re)
  $ idbctl admin role permission -i $ROLE_ID -d '{{permission}}'
{% endfor %}
