Initialize server and login
  $ bash $TESTDIR/fixture.sh
  .* (re)
  $ ROOT_ID=$(idbctl admin identity list -n root -q)
  $ source $TESTDIR/idb-access-control-identity-fixture.sh
  .* (re)

Create temporary user for tests below
  $ idbctl admin identity create -n user4 -b boundary -t $PERSON_ID
  $ USER4_ID=$(idbctl admin identity list -n user4 -q)

{% for grant in [
  "--invite manual",
  "--invite manual --name user4",
  "--invite manual --boundary boundary",
  "--invite manual --tag id=person",
  "--invite manual --tag id=person --boundary boundary",
]
%}
Check that permission "{{permission}}" is actually enforcing access control
  $ idbctl -c user1.json admin identity invite -i $USER4_ID --manual
  Unable to invite identity. Not allowed to invite identity
  [2]
  $ idbctl admin grant identity {{grant}} | idbctl admin role grant -i $ROLE_ID --add
  $ idbctl -c user1.json admin identity invite -i $USER4_ID --manual
  [A-Za-z0-9_-]+ (re)
  $ idbctl admin role read -i $ROLE_ID -f json | jq '.grant_list[-1]' | idbctl admin role grant -i $ROLE_ID --del
{% endfor %}

