Generate private key
  $ ssh-keygen -t ed25519 -f account -N "" > /dev/null

Generate self-signed certificate
  $ ssh-keygen -s account -I hello -h account.pub
  Signed host key account-cert.pub: id "hello" serial 0 valid forever\r (esc)

Read it back
  $ ssh-keygen -L -f ./account-cert.pub
  ./account-cert.pub:
          Type: ssh-ed25519-cert-v01@openssh.com host certificate
          Public key: ED25519-CERT SHA256:.* (re)
          Signing CA: ED25519 SHA256:.* (re)
          Key ID: "hello"
          Serial: 0
          Valid: forever
          Principals: (none)
          Critical Options: (none)
          Extensions: (none)

Read it back with our own code
  $ idbctl ssh cert read ./account-cert.pub
  ----------------------  --------------------------------------------------
  validity_period         ok
  key_fingerprint         SHA256:.* (re)
  signer_key_fingerprint  SHA256:.* (re)
  serial_number           0
  role                    host
  identifier              hello
  valid_after             always
  valid_before            forever
  ----------------------  --------------------------------------------------

Generate our own similar certificate
  $ idbctl ssh cert sign-host --principal hello --key account.pub --with account > account-cert.pub

Check we can read it ourselves
  $ idbctl ssh cert read ./account-cert.pub
  ----------------------  --------------------------------------------------
  validity_period         ok
  key_fingerprint         SHA256:.* (re)
  signer_key_fingerprint  SHA256:.* (re)
  serial_number           0
  role                    host
  identifier              SHA256:.* (re)
  principal               hello
  valid_after             always
  valid_before            forever
  ----------------------  --------------------------------------------------
 
Check OpenSSH can read it
  $ ssh-keygen -L -f ./account-cert.pub
  ./account-cert.pub:
          Type: ssh-ed25519-cert-v01@openssh.com host certificate
          Public key: ED25519-CERT SHA256:.* (re)
          Signing CA: ED25519 SHA256:.* (re)
          Key ID: "SHA256:.*" (re)
          Serial: 0
          Valid: forever
          Principals: 
                  hello
          Critical Options: (none)
          Extensions: (none)


Check verify-required
  $ idbctl ssh cert sign-user --principal hello --key account.pub --with account --verify-required > account-cert.pub
  $ ssh-keygen -L -f ./account-cert.pub
  ./account-cert.pub:
          Type: ssh-ed25519-cert-v01@openssh.com user certificate
          Public key: ED25519-CERT SHA256:.* (re)
          Signing CA: ED25519 SHA256:.* (re)
          Key ID: "SHA256:.*" (re)
          Serial: 0
          Valid: forever
          Principals: 
                  hello
          Critical Options: 
                  verify-required
          Extensions: (none)

Check force-command
  $ idbctl ssh cert sign-user --principal hello --key account.pub --with account --force-command "/usr/bin/bash -c 'echo \"hello\"'" > account-cert.pub
  $ ssh-keygen -L -f ./account-cert.pub
  ./account-cert.pub:
          Type: ssh-ed25519-cert-v01@openssh.com user certificate
          Public key: ED25519-CERT SHA256:.* (re)
          Signing CA: ED25519 SHA256:.* (re)
          Key ID: "SHA256:.*" (re)
          Serial: 0
          Valid: forever
          Principals: 
                  hello
          Critical Options: 
                  force-command /usr/bin/bash -c 'echo "hello"'
          Extensions: (none)

Check source-address
  $ idbctl ssh cert sign-user --principal hello --key account.pub --with account --source-address 127.0.0.1/32 --source-address 12.0.45.10/8 --source-address 127.0.*.1 > account-cert.pub
  $ ssh-keygen -L -f ./account-cert.pub
  ./account-cert.pub:
          Type: ssh-ed25519-cert-v01@openssh.com user certificate
          Public key: ED25519-CERT SHA256:.* (re)
          Signing CA: ED25519 SHA256:.* (re)
          Key ID: "SHA256:.*" (re)
          Serial: 0
          Valid: forever
          Principals: 
                  hello
          Critical Options: 
                  source-address 127.0.0.1/32,12.0.45.10/8,127.0.*.1
          Extensions: (none)


{% for extension in [
    "no-touch-required",
    "permit-agent-forwarding",
    "permit-port-forwarding",
    "permit-pty",
    "permit-user-rc",
    "permit-X11-forwarding",
] %}
Generate user certificate with extension {{extension}}
  $ idbctl ssh cert sign-user --principal hello --key account.pub --with account --{{extension|lower}} > account-cert.pub

  $ ssh-keygen -L -f ./account-cert.pub
  ./account-cert.pub:
          Type: ssh-ed25519-cert-v01@openssh.com user certificate
          Public key: ED25519-CERT SHA256:.* (re)
          Signing CA: ED25519 SHA256:.* (re)
          Key ID: "SHA256:.*" (re)
          Serial: 0
          Valid: forever
          Principals: 
                  hello
          Critical Options: (none)
          Extensions: 
                  {{extension}}
{% endfor %}
